.story-container {
    display: flex;
    justify-content: center;
    background: #87CEEB;
    color: #FFFFFF;
    margin-top: 100px;
    margin-bottom: 100px;
    padding-top: 100px;
    padding-bottom: 20px;
    padding-left: 100px;
    padding-right: 150px;
    width: 100%;
}

.img-container {
    width: 40%;
    height: 420px;
}

.story-img {
    width: 420px;
    height: 420px;
}

.title-btn-container {
    margin-top: 50px;
    width: 65%;
}

.story-title {
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
}

.story-text {
    font-weight: 600;
    font-size: 38px;
    line-height: 50px;
    margin-top: 10px;
}

.story-btn {
    font-weight: 500;
    font-size: 18px;
    line-height: 24px;
    color: #3894B9;
    background: white;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 25px;
    padding-right: 25px;
    margin-top: 20px;
}

.story-btn:hover {
    background: #3894B9;
    color: white;
}